<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a (click)='goToHomePage()' class="navbar-brand">Attendance</a>
      <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="goToAttendanceList()" class="nav-link">Attendance List</a>
        </li>
        <li class="nav-item">
          <a (click)="goToCreateAttendance()" class="nav-link">Add Attendance</a>
        </li>
        <li class="nav-item" id="p">
          <a (click)="goToBackToHome()" class="nav-link">Home</a>
        </li>
        <li class="nav-item" id="l">
          <a href="#" class="nav-link">Logout</a>
        </li>
      </ul> 
    </div>
  </nav>
 <div class="card">

 </div>



  <footer class="footer">
    <div class = "container-fluid">
      <span>All Rights Reserved 2021 @Vermaji</span>
    </div>
    </footer>
  